node_modules
npm-debug.log
yarn-error.log
build
dist
*.log
*.swp
*.swo
*.DS_Store
*.git
*.gitignore
*.gitattributes
.DS_Store
.idea
.vscode
*.zip
*.tar.gz
*.tgz
.env
.env.local
.env.*.local
.env.production