node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
dist
build

*.log
*.tmp
*.swp

.env
.env.local
.env.development
.env.production

.dockerignore
.git
.gitignore
.gitattributes
.gitlab-ci.yml
.github

*.vscode
*.idea
*.sublime*

coverage
*.test.js
*.spec.js

.tailwindcss

.vite
*.cache
.vite-cache
