# Node.js modules und Abhängigkeiten (werden durch npm install oder yarn installiert)
node_modules
npm-debug.log
yarn-error.log

.DS_Store
dist
build

*.log
*.tmp
*.swp

.env
.env.local
.env.test
.env.production

.dockerignore
.git
.gitignore
.gitattributes
.gitlab-ci.yml
.github

*.vscode
*.idea
*.sublime*

coverage
*.test.js
*.spec.js